.shopping-cart{
    height: 1000px;
}
.cart-heading{
    color: chocolate;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
    letter-spacing: 0.2cap;
}
.cart-empty{
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1cap;
    font-size: large;
}

.btn-clear-cart{
padding: 10px 20px;
background-color: antiquewhite;
font-size: 18px;
letter-spacing: 0.1cap;
color: chocolate;
border: 1px solid chocolate;
cursor: pointer;
}

.btn-clear-cart:hover{
    color: antiquewhite;
    background-color: chocolate;
    border: 1px solid antiquewhite;
}

.buy-now-btn{
    color: antiquewhite;
    background-color: chocolate;
    border: 1px solid antiquewhite;
    font-size: 18px;
    letter-spacing: 0.1cap;
    cursor: pointer;
    padding: 10px 20px;    
}
.buy-now-btn:hover{
    background-color: antiquewhite;
    color: chocolate;
    border: 1px solid chocolate;
}
.cart-buttons-container {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    margin-top: 40px;
}



.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid chocolate;
    padding: 10px;
}

.cart-item img {
    border-radius: 10px;
}

.cart-item h3, .cart-item p {
    margin: 5px;
}

.remove-item {
    padding: 15px 25px;
    margin: 5px;
    cursor: pointer;
    background-color: antiquewhite;
    font-size: 14px;
    color: chocolate;
    letter-spacing: 0.1cap;
    border:1px solid chocolate;
}
.remove-item:hover{
    background-color: chocolate;
    color: antiquewhite;
    border:1px solid antiquewhite;
}
.btn-increase{
    padding: 7px 12px;
    margin: 10px;
    background-color: chocolate;
    font-size: large;
    color: antiquewhite;
    border: 1px solid antiquewhite;
    cursor: pointer;
}
.btn-decrease{
    padding: 7px 14px;
    font-size: large;
    margin: 10px;
    background-color: chocolate;
    color: antiquewhite;
    border: 1px solid antiquewhite;
    cursor: pointer;
}
.change-quantity{
    font-size: 18px;
    letter-spacing: 0.1cap;
}
.cart-product-name,.cart-price{
    letter-spacing: 0.2cap;
    font-size: 18px;
}

.total-price-word{
    color:chocolate;
    font-weight: bold;

}

.total-price{
    font-size: large;
    margin: 20px;
    letter-spacing: 0.1cap;
}
